img {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-radius: 50%;
}

.mainStyle {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    flex-direction: row;
}

.mainContainer {
    color: white;
    text-align: center;
}

.spacingOut {
    margin-top: 50px;
}

.eventAlignment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.events {
    padding-top: 50px;
    text-align: center;
    border-style: solid;
    width: 300px;
    height: 75px;
    border-radius: 15px;
    text-decoration: none;
    color: inherit;
}

.bigBorder {
    border-style: solid;
    border-radius: 15px;
    width: 50%;
}