img {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-radius: 50%;
    /* align-items: right; */
    margin-right: 2vw;
}

/* Style for the header to use flex */
.header {
    text-align: left;
    align-items: right;
    display: flex;
    align-items: center; /* Vertically align logo and text */
    width: 100%;
}
.logo{
    font-size: 150px;
    flex-grow: 2;
    padding-left: 2vw;
}

html *
{
   color: #000;
   font-family: sans-serif !important;
   text-decoration: none;
   margin: 8px;
}

h1 {
    text-align: left;
    font-weight: 550 !important;
    text-transform: uppercase;
    font-size: 9vw;
    /* line-height: 150px; */
}

h2 {
    /* text-align: left;
    font-weight: 550 !important;
    text-transform: uppercase; */
    font-size: 5vw; 
    padding-bottom: 3vw;
    /* line-height: 150px; */
}

a {
    text-align: left;
    transition: color 0.4s linear;
    text-decoration: none;
    text-decoration: underline;
    color: blue;
    font-size: 5vw;
    margin-bottom: 3vw;
}

body{
    margin: 0px;
    padding-bottom: 10vw;
}

.spacingOut{
    margin-top: 4vw;
}

.bigBorder {
    border-style: solid;
    border-radius: 15px;
    width: 90%;
    padding: 2vw;
    margin: 4vw;
}

p{
    font-size: 5vw;
}

.linksconstainer{
    font-size: large;
    display: flex;
}

.link{
    flex-grow: 1;
    font-size: 5.5vw;
    align-items: center;
}